{% extends "base.html" %}

{% block title %}Machine Learning{% endblock %}

{% block content %}

<div class="container">

    <!-- TITLE -->
    <div class="card reveal glow-hover">
        <h1>Machine Learning</h1>

        <p class="subtitle">
            Explore supervised and unsupervised learning models, including their concepts and practical applications.
        </p>
    </div>

    <!-- SUPERVISED -->
    <div class="card reveal">
        <h2>Supervised Learning</h2>

        <div class="home-buttons">
            <a href="{{ url_for('supervised.supervised_menu') }}" class="btn glow-hover">
                Go to Supervised
            </a>
        </div>
    </div>

    <!-- UNSUPERVISED -->
    <div class="card reveal">
        <h2>Unsupervised Learning</h2>

        <div class="home-buttons">
            <a href="{{ url_for('unsupervised.unsupervised_menu') }}" class="btn glow-hover">
                Go to Unsupervised
            </a>
        </div>
    </div>

</div>

{% endblock %}