{% extends "base.html" %}

{% block title %}Use Cases{% endblock %}

{% block content %}

<div class="container">

    <div class="card reveal glow-hover">

        <h1>Machine Learning Use Cases</h1>

        <p class="subtitle">
            Explore real-world applications of Machine Learning across different industries.
        </p>

        <div class="image-box">
            <img src="{{ url_for('static', filename='images/ml_cases.png') }}" width="200">
        </div>

        <div class="home-buttons">
            <a href="{{ url_for('use_cases.case1') }}" class="btn glow-hover">Finance Prediction</a>
            <a href="{{ url_for('use_cases.case2') }}" class="btn glow-hover">Fraud Detection</a>
            <a href="{{ url_for('use_cases.case3') }}" class="btn glow-hover">Healthcare Risk</a>
            <a href="{{ url_for('use_cases.case4') }}" class="btn glow-hover">Car Analysis</a>
        </div>

    </div>

</div>

{% endblock %}